<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
    <div
      class="grid grid-cols-1 gap-8 border-t border-gray-100 pt-8 sm:grid-cols-2 lg:grid-cols-4 lg:pt-16"
    >
      <div>
        <p class="font-medium text-gray-900">サービス</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="https://xlogin.jp" class="text-gray-700 transition hover:opacity-75">xlogin.jp</a>
          </li>

          <li>
            <a href="https://sample.xlogin.jp" class="text-gray-700 transition hover:opacity-75">sample.xlogin.jp</a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">リンク</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">問い合わせ</a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">よくある質問</a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">ガイド</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">利用規約</a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
    </div>

    <p class="text-xs text-gray-500 text-center">&copy; 2024 xlogin.jp All rights reserved.</p>
  </div>
</footer>


